{#
/**
 * @file
 * HP Video Slide Show Slide paragraph bundle.
 *
 * @ingroup themeable
 */
#}

<div class="hp_video_slideshow--video-container">
    <iframe src="{{ hp_vs_video_url }}" frameborder="0" allow="autoplay; fullscreen; picture-in-picture"></iframe>
    {% if content.field_hp_vs_caption[0] %}
        <div class="hp_video_slideshow--video-text">
            {{ content.field_hp_vs_caption }}
        </div>
    {% endif %}
</div>