{#
/**
 * @file
 * HP Instagram Feed paragraph bundle.
 *
 * @ingroup themeable
 */
#}

<section aria-label="Instagram Feed">
  <div class="">
      <div class="silc-grid">
        {% if hp_if_posts.results[0] %}
          {% for post in hp_if_posts.results %}
            <div class="silc-grid__col silc-grid__col--4-medium">
            <a href="{{ post.permalink }}">
              <img style="max-width: 100%;" src="{{ post.media_url }}">
            </a>
              <div class="">
                <p class="">{{ post.caption | raw }} </p>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <div class="social--error">Sorry, there was an error connecting to Facebook: {{ hp_if_posts.error }}</div>
        {% endif %}
      </div>
  </div>
</section>