{#
/**
 * @file
 * IP Timeline paragraph bundle.
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    'section--padded-top',
    'section--padded-bottom'
  ]
%}

<section{{attributes.addClass(classes).setAttribute('id','hp-'~paragraph.id())}} aria-label="Timeline">
    {% if hp_show_wrapper %}
        <section class="compartment">
    {% endif %}
            <div>
                {% if content.field_hp_timeline_title is not null %}
                    <h2 class="lead-in">{{ content.field_hp_timeline_title }}</h2>
                {% endif %}
                {% if content.field_hp_timeline_text is not null %}
                    <p>{{ content.field_hp_timeline_text }}</p>
                {% endif %}
            </div>
            <div class="timeline">
                {{ content.field_hp_timeline_field }}
            </div>
    {% if hp_show_wrapper %}
        </section>
    {% endif %}
</section>
