<div class="entry">
    <div class="title">
        <h3>{{ content.field_hp_timeline_field_datetime[0] }}</h3>
            {% if content.field_hp_timeline_field_title[0] is not null %}
                <p>{{ content.field_hp_timeline_field_title[0] }}</p>
            {% endif %}
    </div>
    <div class="body">
        {% if content.field_hp_timeline_field_desc[0] is not null %}
            <p>{{ content.field_hp_timeline_field_desc[0] }}</p>
        {% endif %}
    </div>
</div>
