<div class="entry">
    <div class="title">
        <h3>{{ content.field_hp_timeline_field_datetime }}</h3>
        {% if content.field_hp_timeline_field_title is not null %}
            <p>{{ content.field_hp_timeline_field_title }}</p>
        {% endif %}
    </div>
    <div class="body">
        {% if content.field_hp_timeline_field_desc is not null %}
            <p>{{ content.field_hp_timeline_field_desc }}</p>
        {% endif %}
    </div>
</div>
