{#
/**
 * @file
 * HP Carousel with Modal Slide paragraph bundle.
 *
 * @ingroup themeable
 */
#}

<div class="carousel__cell" style="background-image: url('{{ hp_cm_image }}')" alt="{{ hp_cm_image_alt }}">
  <a class="carousel__link lightbox" href="{{ hp_cm_image_full }}" data-lightbox="carousel">
    <span class="visible-for-screen-readers">link to image</span>
  </a>
</div>
