{#
/**
 * @file
 * HP Twitter Feed paragraph bundle.
 *
 * @ingroup themeable
 */
#}

{%
  set classes = []
%}

<section{{attributes.addClass(classes).setAttribute('id','hp-'~paragraph.id())}} aria-label="Twitter feed">
  <div class="facebook-twitter-feed">
    <div class="compartment">
      <div class="silc-grid">

          <div class="silc-grid__col silc-grid__col--1-medium">
              <a class="social-links__item" href="https://x.com/{{ hp_tf_name }}" target="_blank">
                <i class="icon-twitter"><span class="visible-for-screen-readers">Twitter</span></i>
              </a>
          </div>
          <div class="silc-grid__col silc-grid__col--11-medium">
            <div class="facebook-twitter-feed__desc">
              <p class="body-text--social-media">Looking for the latest updates? Follow Howard University on Twitter! </p>
                <a href="https://x.com/{{ hp_tf_name }}" target="_blank" class="fancy-link fancy-link--light">
                  <span>@{{ hp_tf_name }}</span>
                  <span class="icon-arrow-right"></span>
                </a>
            </div>
          </div>

      </div>
    </div>
  </div>
</section>
