/**Stylesheet***/

@media only screen and  (max-width: 767px){
  .hp_parallax_bundle:before {
    content:'';
    position:absolute;
    width:100%;
    height:100%;
    background:black;
    z-index:3;
    opacity:.65;
  }
}

.hp_parallax_bundle h1 {
  font-size: 3.5rem !important;
  margin-bottom: 12px;
  line-height: 1.1;
}

@media only screen and  (max-width: 767px){
  .hp_parallax_bundle h1 {
    font-size: 2.5rem !important;
  }
}

.hp_parallax_bundle .lead {
  font-size: 1.25rem;
  font-weight: 300;
  text-align: justify;
}

.hp_parallax_bundle .lead br{
  display:none;
}

.hp_parallax_bundle .h-100{
  height:100vh;
}

.hp_parallax_bundle .float_right{
  float:right !important;
}

@media only screen and  (max-width: 767px){
  .hp_parallax_bundle .float_right{
    float:none !important;
  }
}

.hp_parallax_bundle .float_left{
  float:left !important;
}

@media only screen and  (max-width: 767px){
  .hp_parallax_bundle .float_left{
    float:none !important;
  }
}

.hp_parallax_bundle .featurettes_image{
  width:50%;
  height: 100%;
}

@media only screen and  (max-width: 767px){
   .hp_parallax_bundle .featurettes_image{
    width:100%;
    position: absolute;
    top: 0;
  }
}

.hp_parallax_bundle .featurettes_image .background-image{
  width:100%;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
}

@media only screen and  (max-width: 767px){
  .hp_parallax_bundle .featurettes_image .background-image {
    width:100%;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment:initial;
    height: 100%;
  }
}

.hp_parallax_bundle .featurette {
  width:100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 0px 15px;
}

.hp_parallax_bundle .featurettes_text {
  width:50%;
  height: 100%;
  position: relative;
}

@media only screen and  (max-width: 767px) {
  .hp_parallax_bundle .featurettes_text{
    width:100%;
    position: relative;
    z-index:4;
    color:#fff;
  }
}

.hp_parallax_bundle .icon .svg-inline--fa {
  width:4em;
  height:4em
}