{#
/**
 * @file
 * HP Carousel with Caption Slide paragraph bundle.
 *
 * @ingroup themeable
 */
#}

<div class="slideshow__single">
  <div class="slideshow__img" style="background-image:url('{{ hp_cc_image }}')"></div>
  <div class="slideshow__desc">
    <h2>{{ content.field_hp_cc_title }}</h2>
    {{ content.field_hp_cc_text }}
    {{ content.field_hp_cc_link }}
  </div>
</div>
