{#
/**
 * @file
 * HP Carousel with Caption paragraph bundle.
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    'section--padded-top',
    'section--padded-bottom'
  ]
%}

<section{{attributes.addClass(classes).setAttribute('id','hp-'~paragraph.id())}} aria-label="Carousel with caption">
  {% if hp_show_wrapper %}
    <div class="compartment">
  {% endif %}

    {% if content.field_hp_cc_title[0] %}
      <div class="block-header">
          <div class="block-header__title">
              <span class=" block-header__icon icon-picture"></span>
              <h2>{{ content.field_hp_cc_title }}</h2>
          </div>
      </div>
    {% endif %}

    <div class="slideshow--wrapper">
      <div class="slideshow">

        {{ content.field_hp_cc_slides }}

      </div>
    </div>

    <!-- Render without, so quickedit/etc works -->
    {{ content|without('field_hp_cc_slides', 'field_hp_cc_title') }}

  {% if hp_show_wrapper %}
    </div>
  {% endif %}
</section>
