<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="../../../../core/tests/bootstrap.php"
         colors="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutChangesToGlobalState="true">
  <testsuites>
    <testsuite name="howard_permissions_unit">
      <directory>./tests/src/Unit</directory>
    </testsuite>
    <testsuite name="howard_permissions_functional">
      <directory>./tests/src/Functional</directory>
    </testsuite>
  </testsuites>
  <coverage>
    <include>
      <directory suffix=".php">.</directory>
    </include>
    <exclude>
      <directory>./tests</directory>
      <directory>./vendor</directory>
    </exclude>
  </coverage>
</phpunit>