{#
/**
 * @file
 * IP Accordion Item paragraph bundle.
 *
 * @ingroup themeable
 */
#}

<section class="silc-accordion__section" id="silc-accordion-{{ accordion_id }}">
  <header class="silc-accordion__header">
      <h2 class="silc-accordion__label">{{ content.field_ip_ac_title }}</h2>
  </header>
  <div class="silc-accordion__content">
      {{ content.field_ip_ac_body }}
  </div>
</section>
