{#
/**
 * @file
 * HP Embed paragraph bundle.
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    'section--padded-top',
    'section--padded-bottom'
  ]
%}

<section{{attributes.addClass(classes).setAttribute('id','hp-'~paragraph.id())}} aria-label="Embedded content">
  {% if hp_show_wrapper %}
    <div class="compartment">
  {% endif %}

    {{ content.field_hp_embed_code }}

    <!-- Render without, so quickedit/etc works -->
    {{ content|without('field_hp_embed_code') }}

  {% if hp_show_wrapper %}
    </div>
  {% endif %}
</section>
